---
import Navbar from "../nav/Navbar.astro";
---

<footer class="theme-dark">
  <Navbar />
  <div class="footer-content-wrapper">
    <h1>askdjalksjdkl</h1>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  .footer-content-wrapper {
    max-width: var(--size-page-width);
    margin: 0 auto;
    padding: 2rem 1rem;
  }
</style>
