<main class="padded-content-container">
  <slot />
</main>

<style>
  main {
  }
</style>

<style is:global>
  .padded-content-container > * {
    max-width: var(--size-padded-content);
    margin: 1em auto;
  }
  .padded-content-container > *:last-child {
    margin-bottom: 3rem;
  }
</style>
