---
import Layout from "../../layouts/Layout.astro";
import { loadFromCMS } from "../../cms/loadFromCMS";
import { Code } from "astro/components";

import CardFeed from "../../components/page-blocks/CardFeed.astro";

const chapters = await loadFromCMS({
  query: `page('chapters').children`,
});
---

<Layout title="Chapters">
  <h1>Chapters</h1>
  <p>
    This is a list of chapters in Earthrise Commons. You can find their
    articles, lessons, and other contributions here.
  </p>
  <Code lang={"json"} code={JSON.stringify(chapters, null, 2)} />
  <!-- <CardFeed pageData={chapters} /> -->
</Layout>
