---
import { loadFromCMS } from "../cms/loadFromCMS";
import AvatarTest from "../tests/AvatarTest.astro";
const data = await loadFromCMS({
  query: 'page("people").children',
  // select: {
  //   all: true,
  //   // url: true,
  //   // displayName: true,
  //   // pronouns: true,
  //   // bio:true,
  //   // // "text": "page.text.markdown",
  //   // photo: {
  //   //   query: "page.images",
  //   //   select: {
  //   //     url: true,
  //   //   },
  //   // },
  // },
});
import { Code } from "astro:components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test Page">
  <h1>Site Tests</h1>
  <p>This page contains tests/demos for features.</p>
  <h2>General API Test</h2>
  <Code lang="json" class="test-code" code={JSON.stringify(data, null, 2)} />
  <h2>Avatar Test</h2>
  <p>
    This section tests the PersonPlaceholder component's ability to generate a
    number of unique color variants.
  </p>
  <AvatarTest />
</Layout>
<style>
  .test-code {
    padding: 1rem;
  }
</style>
