---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Accordion from "./content-blocks/Accordion.astro";
import DesignTokens from "./DesignTokens.astro";
---

<h1>Welcome to Earthrise Commons</h1>
<Accordion title="Accordion Title">
  <p>Accordion content goes here.</p>
</Accordion>
