---
const query = Astro.url.searchParams.get("query");
import Layout from "../../layouts/Layout.astro";
import SearchQuery from "../../components/page-blocks/SearchQuery.astro";
---

<Layout>
  <h1>Search</h1>
  <div class="search-box">
    <form method="GET" action="/search">
      <input
        type="text"
        name="query"
        placeholder="Search..."
        value={query ?? ""}
        required
      />
      <button type="submit">Search</button>
    </form>
  </div>

  {query && <SearchQuery query={query} />}
</Layout>
<style>

  .search-box{
    
  }
</style>