---
import Card from "./Card.astro";
import type { Page } from "../../types/pageTypes";
const { pageData } = Astro.props;

interface Props {
  pageData: Page[];
}
---

<div class="card-container">
  {pageData.map((pageInfo: Page) => <Card pageData={pageInfo} />)}
</div>

<style>
  .card-container {
    max-width: var(--size-padded-content);
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
</style>
