---
import Card from "./Card.astro";
const { pageData } = Astro.props;
---

<div class="card-container">
  {pageData.map((pageInfo) => <Card pageData={pageInfo} />)}
</div>

<style>
  .card-container {
    max-width: var(--size-padded-page);
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
</style>
