---
interface Props {
  current: number;
  max: number;
  query: string;
}

const { current, max, query } = Astro.props;

const getPaginationURL = (page: number) => {
  const tempParams = new URLSearchParams("");
  tempParams.append("query", query);
  tempParams.append("page", page.toString());
  return "?" + tempParams.toString();
};

const paginationItems = [];
// build pagination items in array

if (current <= 4) {
  // less than 3 items before current - no need to split
  for (let i = 1; i < current; i++) {
    paginationItems.push(i);
  }
} else {
  //more than 3 items before current - split to first + 2 prior
  paginationItems.push(1);
  paginationItems.push(null);
  paginationItems.push(current - 2);
  paginationItems.push(current - 1);
}
// add current item
paginationItems.push(current);
if (max - current <= 3) {
  for (let i = current + 1; i <= max; i++) {
    paginationItems.push(i);
  }
} else {
  paginationItems.push(current + 1);
  paginationItems.push(current + 2);
  paginationItems.push(null), paginationItems.push(max);
}
---

<!-- https://design-system.w3.org/components/pagination.html --><!-- consider using this as reference for markup  -->
<div class="pagination-items">
  {
    paginationItems.map((item) => {
      const isActive = item == current;
      if (item !== null) {
        return (
          <a
            class:list={["pagination-item", isActive && "item-current"]}
            href={getPaginationURL(item)}
          >
            {item}
          </a>
        );
      } else {
        return <span>...</span>;
      }
    })
  }
</div>

<style>
  .pagination-items {
    display: flex;
    gap: 1rem;
  }
  .item-current {
    font-weight: 700;
  }
  .pagination-item {
    border: 1px solid var(--color-text);
    padding: 0.5rem 0.75rem;
    text-decoration: none;
  }
  .pagination-item:hover,
  .pagination-item:focus-visible {
    background-color: var(--color-cta);
    color: var(--color-background);
  }
</style>
