---
interface Props {
  query: string;
}
const { query } = Astro.props;
import CardFeed from "./CardFeed.astro";
import { loadFromCMS } from "../../cms/loadFromCMS";
import { randomizeArray } from "../../helpers/randomizeArray";
const cmsQuery = query ? `site.search('${query}')` : "site.index.children";

const pages = await loadFromCMS({
  query: cmsQuery,
  select: {
    id: true,
    uuid: true,
    taxonomy: { query: "page.taxonomy.toObject()" },

    // fields for pages
    title: true,
    organizationname: true,
    role: true,
    level: true,
    hero: {
      query: `page.hero.safeResize(600)`,
      select: ["url", "width", "height"],
    },
    author: {
      query: "page.author.toPage",
      select: ["displayname", "organizationname", "location"],
    },
    location: true,
    // fields for people
    displayname: true,
    photo: {
      query: `page.photo.isNotEmpty ? page.photo.toFile.crop(256,256) : null`,
    },
  },
});

const sortedPages = randomizeArray(pages);
---

{query ? <h2>Results for: {query}</h2> : <h2>Explore Earthrise Commons:</h2>}

<p>{pages.length} page{pages.length != 1 && "s"} found.</p>

<!-- <pre>{JSON.stringify(pages,null,5)}</pre> -->
<CardFeed pageData={sortedPages} />
