---
import EarthriseIllustration from "../../assets/illustrations/coc-earthrise.svg";
const { class: className } = Astro.props;
---

<section class:list={["coc-block", "theme-dark", className]}>
  <div class="coc-content-wrapper">
    <div class="coc-col text-block"><slot /></div>
  </div>
  <div
    class="coc-graphic"
    style={`background-image: url(${EarthriseIllustration.src});`}
  >
  </div>
</section>

<style>
  .coc-block {
    background-color: var(--color-background);
    color: var(--color-text);
    max-width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
  }
  .coc-content-wrapper {
    margin: 0 auto;
    max-width: var(--size-padded-content);
    width: 100%;
    margin: 0 auto;
  }
  .coc-col {
    max-width: 500px;
    position: relative;
    z-index: 10;
  }
  .coc-col::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-background);
    opacity: 0.8;
    z-index: -1;
  }
  .coc-graphic {
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: calc(100vw - 100px);
    width: 50vw;
  }
</style>
