---
import DesignTokens from "../components/DesignTokens.astro";
import Navbar from "../components/layout/nav/Navbar.astro";
import Footer from "../components/layout/page/Footer.astro";
import PageBody from "../components/layout/page/PageBody.astro";
import { Icon } from "astro-icon/components";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
Astro.response.headers.set(
  "CDN-Cache-Control",
  "public, max-age=120, stale-while-revalidate=3600"
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/ec-favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} {title && "|"} Earthrise Commons</title>
    <DesignTokens />
    <ClientRouter />
  </head><body>
    <div class="under-construction" transition:persist>
      <Icon name="fa7-solid:hammer" class="uc-icon" />
      <span
        >This site is under construction. Please pardon our appearance while we
        build Earthrise Commons, and feel free to follow along on <a
          href="https://github.com/earthrise-commons">GitHub!</a
        ></span
      >
      <Icon name="fa7-solid:hammer" class="uc-icon" />
    </div>
    <Navbar transition:persist />
    <PageBody>
      <slot />
    </PageBody>
    <Footer transition:persist />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  div.under-construction {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--color-theme-accent-b);
  }
  .uc-icon {
    flex-shrink: 0;
  }
</style>
