<table class="ec-table">
  <caption>Big Ideas & Essential Questions</caption>
  <thead>
    <tr>
      <th scope="col">Component</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Established Goal(s)/Content Standard(s)</th>
      <td>
        <p>What relevant goals/standards will this design address?</p>
      </td>
    </tr>
    <tr>
      <th scope="row">Understanding(s)</th>
      <td>
        <p>Students will understand that:</p>
        <ul>
          <li>What are the big ideas?</li>
          <li>What specific understandings about them are desired?</li>
          <li>What misunderstandings are predictable?</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Essential Question(s)</th>
      <td>
        <ul>
          <li>
            What provocative questions will foster inquiry, understanding, and
            transfer of learning?
          </li>
          <li>What questions address the heart of the discipline?</li>
          <li>What questions will sustain student interest?</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Student Objectives (Outcomes)</th>
      <td>
        <p>Students will be able to:</p>
        <ul>
          <li>What key knowledge and skills will students acquire?</li>
          <li>What should they eventually be able to do as a result?</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
