---
import EcLogo from "../../../assets/ec-logo-plain.svg";
const navItems = [
  { label: "Explore", href: "" },
  { label: "About", href: "/about" },
  { label: "Code of Conduct", href: "/code-of-conduct" },
  { label: "Call for Submissions", href: "/submissions" },
  { label: "Table of Contents", href: "" },
];
---

<nav>
  <div class="nav-container">
    <div class="nav-group-logo">
      <a href="/"><EcLogo />Home</a>
    </div>
    <div class="nav-group-main">
      {
        navItems.map((item) => (
          <a
            data-astro-prefetch
            href={item.href}
            class:list={["nav-item", item.href === "" && "nav-item-inactive"]}
          >
            {item.label}
          </a>
        ))
      }
    </div>
    <div class="nav-group-contribute">
      <a href="/submissions" class="ec-button"> Contribute a Project </a>
    </div>
  </div>
</nav>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--size-page-padding);
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--size-page-width);
    padding: 1rem 0;
    width: 100%;
    font-size: var(--font-size-navitems);
  }
  .nav-group-main {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-item {
    padding: 1rem 1.5rem;
    text-decoration: none;
  }
  .nav-item-inactive {
    opacity: 0.25;
    pointer-events: none;
  }
</style>
