---

---

<nav>
  <div class="nav-container">TEST</div>
</nav>
<style>
  nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-container {
    max-width: var(--size-page-width);
    width: 100%;
    font-size: var(--font-size-navitems);
  }
</style>
